.detail{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    header{
        display: flex;
        
        justify-content: center;
        
        background-color: $background;
        width: 100%;
        padding: 30px;
        .detail__img{
            height: 400px;
            width: 400px;
            border-radius: 30px;
            margin-bottom: 30px;
        }
        
        
        
    }
    footer{
        
        background-color: $primary;
        width: 100%;
        height: auto;
        padding: 90px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .detail__tab-btn{
            width: 1200px;
            display: flex;
            align-items: center;
            background-color: $tertiary;
            justify-content: space-around;
            height: 100px;
            border-radius: 100px;
            margin-bottom: 50px;
            .onBtn{
                background-color: $primary;
                
                transition: 1s all ease-in;
                
                
            }
            
            li{
                
                padding: 20px 30px;
                border-radius: 100px;
                font-weight: 700;
                font-size: 20px;
                color: white;
                display: flex;
                align-items: center;
                position: relative;
                
                &:hover{
                    background-color: $primary;
                    transition: 1s all ease-in;
                    opacity: 1;
                    
                }

                img{
                    width:25px ;
                    margin-right: 10px;
                    
                    
                }
                
                
            }

        }
        .detail__tab-desc{
            width: 1200px;
            background-color: $background;
            height: 1000px;
            border-radius: 30px;
        }
    }
}


iframe{
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.4);
}


.abandoned{
    display: flex;
    
    
    margin-bottom: 20px;
}
.abandoned__img{
    width: 300px;
    height: 300px;
    
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

table{
display:flex;
align-items: center;
display: -ms-flexbox;
background-color: $background;
width: 240px;

border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
padding: 10px;

}

tbody
{display:flex}

th,td{
    display:block;
    margin-bottom: 20px;
}




.footer{
    width: 1200px;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.speech-bubble {
	position: relative;
	background: $text;
	border-radius: 40px;
    width: 450px;
    margin-left: 60px;
    font-weight: 700;
    font-size: 17px;
    line-height: 1.6;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba($color: #000, $alpha: 0.2);
    
    
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 24px solid transparent;
	border-right-color: $text;
	border-left: 0;
	border-top: 0;
	margin-top: -12px;
	margin-left: -24px;
}

.bark{
    position: absolute;
    right: 150px;
    transform: rotate(30deg);
    z-index: 1;
    font-weight: 700;
    font-size: 40px;
    color: $tertiary;
    text-shadow: 10px 10px 10px rgba($color: $tertiary, $alpha: 0.4);
}